/* The Band */
/* #content {

} */

.row {
    margin: 0 -8px;
}
.col {
    float: left;
    padding: 0 8px;
}
.col-half {
    width: 50%;
}
.col-third {
    width: calc(100% / 3);
}
.text-center {
    text-align: center;
}
.col-full {
    width: 100%;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;
}
#content .content-section .section-heading{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0;
}
#content .content-section .section-sub_heading{
    font-family: 'Lato' , sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text {
    margin: 15px 0;
    font-size: 15px;
    text-align: justify; /* can deu 2 ben */
    font-family: 'Lato' , sans-serif;
    line-height: 1.6;
}

#content .members {
    padding: 32px 0;
    overflow: hidden;
}
#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}
#content .member-img {
    width: 154px;
    border-radius: 4px;
}

/* Tour Dates */
.text-white {
    color: #fff !important;
}

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li {
    font-family: 'Lato', sans-serif;
    color: #757575;
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
}
.tickets-list .sold-out {
    color: #fff;
    background-color: red;
    padding: 3px 8px;
    margin-left: 16px;
}
.tickets-list .quantity {
    float: right;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 15px;
    margin-right: 16px;
    padding: 3px 8px;
    background-color: #000;
    border-radius: 50%;
    margin-top: -3px;
}

/* Places */

.places-list {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    padding: 32px 8px;
    overflow: hidden;
    margin: 0 -16px;
}
.place-img:hover {
    opacity: 0.6;
}
.place-img {
    width: 100%;
    display: block;
}
.tour-information {
    padding: 16px;
    background-color: #fff;
    line-height: 1.6;
}
.place-name {
    margin-bottom: 15px;
    font-weight: 600;
}
.tour-date {
    margin: 15px 0;
    opacity: 0.6;
}
.tour-discription {
    margin: 15px 0;
}
.contact-form .submit-btn:hover,
.place-buytickets:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.place-buytickets {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    display: inline-block ;
    border: none;
}


/* contact */
.contact-content {
    padding: 32px 0;
    overflow: hidden;
}
.contact-info {
    font-size: 16px;
    line-height: 1.6;
}
.contact-info p i {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .row {
    overflow: hidden;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .submit-btn {
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 15px;
    padding: 11px 16px;
    float: right;
    text-transform: uppercase;
}


.map-section img {
    width: 100%;
}

