#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}
#footer .social-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.3);
}
#footer .copyright{
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 0;
}
#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

/* icon hover */
#footer .icon-container{
    width: 24px;
    height: 36px;
    overflow: hidden;
    display: inline-block;
}
#footer .ti-icon {
    padding: 10px 0 2px 0;
    display: block;
    transition: transform .5s ease-in-out;
}
#footer .icon-container:hover .ti-icon {
    transform: translate3d(0px, -36px, 0px);
}