.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}
.modal .modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .5s;
}
.modal .modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal .modal-header i {
    margin-right: 16px;
}
.modal .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
}
.modal .modal-close:hover {
    cursor: pointer;
    background-color: #ccc;
    color: black;
}

.modal-body {
    padding: 16px;
}
.modal-body .modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-body .modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.modal-body #buy-tickets {
    background-color: #009688;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 16px;
}
.modal-body #buy-tickets:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-250px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}